
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding doesn't affect element size */
    font-family: 'Plus Jakarta Sans', sans-serif; /* Consistent typography */
    user-select: none; 
}

.main-container {
    display: flex;
    height: 100vh;
}

#sidebar-container{
    width: 240px;
}
#sidebar {
     /* 1/6 of the screen */
    height: 95vh;
    position: fixed;
    background: white;
    color: white;
    padding-top: 30px;
    width: 240px;
    border-radius: 12px;
    margin: 20px 40px 20px;
    backdrop-filter: blur(120px);
    box-shadow: 0px 4px 4px 0px #00000040;
}

#sidebar h2{
    font-size: 12px;
    color: #022539;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 12px;
    margin-bottom: 25px;
}

#sidebar h3{
    font-size: 12px;
    color: #022539;
    font-weight: 500;
    margin-top: 40px;
    padding-left: 15px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin: 15px 0;
    display: flex;
    gap: 13px;
    align-items: center;
    padding-left: 30px;
}

#sidebar ul li a {
    color: #022539;
    text-decoration: none;
    font-size: 11px;
}

#sidebar ul li div {
    background: #022539;
    text-decoration: none;
    font-size: 11px;
    height: 26px;
    width: 26px;
    border-radius: 9px;
}

.content {
    margin-left: 50px;
    padding: 20px;
}

.red {
    background: #F9413A;
}

.blue {
    background: #0075FF;  
}

.yellow {
    background: #FB991C;
}

.purple {
    background: #716FE7;
}

.table-container {
    background: #022539;
    padding: 50px 50px 40px;
    border-radius: 12px; 
    width: 1150px;
}

.table-container table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table-container div {
    display: flex;
}

.table-container ~ div {
    width: 100%;
}

.table-container > div:first-child {
    align-items: center;
    height: 30px;
    justify-content: space-between;
    padding-bottom: 50px;
}

.table-container > div:last-child {
    padding-top: 40px;
    justify-content: end;
}

.table-container h2 {
    color: #ffffff;
    font-size: 22px;
}

.table-container > div:first-child > div:first-child {
    flex: 1;
}

.table-container > div:first-child > div:last-child > button{
    height: 100%;
}

.table-container > div:first-child > div:last-child {
    justify-content: end;
    flex: 1;
    gap: 10px;
    height: 30px;
}

.table-container > div:first-child > div:last-child {
    justify-content: end;
    flex: 1;
}

th, td {
    text-align: left;
    color: #A0AEC0;
    font-size: 11px;
    padding-right: 30px;
}

th:first-child, td:first-child {
    max-width: none;
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    width: 60px;
}

th:not(:first-child), td:not(:first-child) {
    width: 120px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th:last-child, td:last-child {
    padding-right: 0;
    width: 80px;
}

th {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 20px;
}

tbody {
    display: block;
    height: 250px;
    overflow-y: auto; 
}

tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.modal label{
    font-weight: 200;
    font-size: 10px;
    color: #ffffff;
    text-indent: 5px;
}

.modal .image-box{
    width: 95px;
    height: 111px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background: linear-gradient(123.64deg, rgba(255, 255, 255, 0) -22.38%, rgba(255, 255, 255, 0.039) 70.38%);
    border: 2px solid rgba(255, 255, 255, 0.2); /* Creates space for the border */
}

body{
    background: #D9D9D9;
}

#modal, #photo-modal, .user-status-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 20px;
    width: 750px;
    background: #022539;
}

#photoModalOverlay, #modalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}
#modalOverlay{
    z-index: 999;
}
#photoModalOverlay{
    z-index: 1001;
}

#modal select,  #modal input, .table-container input, .user-status-form input[type="text"], .user-status-form input[type="password"] {
    all: unset;
    font-size: 10px;
    text-indent: 12px;
    color: #ffffff;
    background: linear-gradient(123.64deg, rgba(255, 255, 255, 0) -22.38%, rgba(255, 255, 255, 0.039) 70.38%);
    border-radius: 12px;
    height: 30px;
    width: 210px;
    border: 2px solid rgba(255, 255, 255, 0.2); /* Creates space for the border */
}

#modal input:focus, #modal select:focus {
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper::before {
    content: "▾";
    font-size: 20px;
    position: absolute;
    color: #ffffff;
    pointer-events: none;
    right: 5%;
    top: 40%;
    transition: transform 0.2s ease;
}

.select-wrapper.open::before {
    content: "▴"; /* Up arrow when open */
}

select {
    display: flex;
    align-items: center;
}

select option {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    background-color: #34495e; /* Background color for options */
    color: #ffffff; /* Text color for options */
    padding: 10px;
}

button{
    font-size: 8px;
    font-weight: 500;
    color: #ffffff;
    height: 27px;
    border-radius: 7px;
    border: none;
    backdrop-filter: blur(120px);
    padding: 10px;
}

.modal {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    gap: 20px;
    border-radius: 20px;
}

.modal div {
    display: flex;
}

.modal > div {
    gap: 10px;
    flex-direction: column;
}

.modal > div:first-child > div {
    gap: 7px;
    flex-direction: column;
}

.modal > div:first-child > div:first-child {
    gap: 40px;
}

.modal > div:first-child div:first-child div:first-child input {
    width: 210px;
}

.modal > div:last-child {
    flex-direction: row;
    justify-content: end;
}

.modal > div:last-child button {
    width: 122px;
}

.modal > div:first-child > div:first-child{
    flex-direction: row;
}
.modal > div:first-child > div:first-child > div {
    flex-direction: column;
}

.modal > div:first-child > div:first-child > div:first-child div {
    flex-direction: column;
    gap: 3px;
    margin-bottom: 10px;
}


.modal > div:first-child > div:first-child > div:last-child > div:first-child {
    gap: 13px;
    text-indent: 5px;
}

.modal > div:first-child > div:first-child > div:last-child > div:first-child div{
    flex-direction: column;
    gap: 3px;
}
.modal > div:first-child > div:first-child > div:last-child > div:first-child div div{
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

.modal .face{
    width: 149px;
    height: 153px;
    object-fit: cover;
    border-radius: 10px;
}

.modal .biometrics-finger-btn{
    width: 93px;
}

.modal .biometrics-face-btn{
    width: 27px;
    width: 93px;
}

.modal > div:first-child > div:last-child > div:nth-child(5) > div {
    flex-direction: column;
}

.modal .full-name {
    width: 668px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
}

.modal > div:first-child > div:last-child > div {
    gap: 16px;
}

.modal > div:first-child > div:last-child > div div {
    flex-direction: column;
    gap: 3px;
    justify-content: end;                        
}

#photo-modal {
    background-image: url('../assets/wp9649930.jpg');
    width: 397px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
}

#photo-modal div {
    display: flex;
}

#photo-modal > div{
    background-repeat: no-repeat;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
}
#photo-modal > div > div:first-child {
    font-size: 18px;
    color: #FFFFFF;
    flex-direction: column;
}

#photo-modal > div > div:last-child > div:last-child {
    flex-direction: column;
}

#photo-modal > div > div:last-child{
    height: 170px;
    gap: 40px;
    padding-top: 20px;
}

#photo-modal > div > div:last-child > div:last-child{
    height: 100%;
    
}

#photo-modal > div > div:last-child > div:last-child > div:last-child{
    height: 100%;
    align-items: end;
}

#photo-modal > div > div:last-child > div:last-child button{
    font-size: 8px;
    font-weight: 500;
    color: #ffffff;
    height: 27px;
    border-radius: 7px;
    border: none;
    backdrop-filter: blur(120px);
    background: #716FE7;
    width: 122px;
    height: 27px;
}

#photo-modal > div > div:first-child hr {
    border: 1px solid;
    border-image-source: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, #E0E1E2 49.52%, rgba(224, 225, 226, 0.15625) 99.04%);
    border-image-slice: 1;
    width: 100%;
}

#photo-modal video {
    height: 170px;
    width: 160px;
    background: linear-gradient(123.64deg, rgba(255, 255, 255, 0) -22.38%, rgba(255, 255, 255, 0.039) 70.38%);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    object-fit: cover;
}

#photo-modal > div > div:last-child > div:last-child div:first-child{
    flex-direction: column;
    gap: 10px;
}

#photo-modal > div > div:last-child > div:last-child div:last-child{
    justify-content: end;
}

.user-status-form{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 30px;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 20px;
    width: 300px;
    background: #022539;
}


.user-status-form input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.user-status-form label{
    display: flex;
    align-items: center;
    gap: 10px;
}



